A_generate_protein_clusters/scripts/out
A_generate_protein_clusters/scripts/tmp*
A_generate_protein_clusters/scripts/out
C_search_ASL/scripts/out
C_search_ASL/01_hmm_results
C_search_ASL/tal
B_known_hosts/scripts/known_hosts
torrens_coverage_test/
C_search_ASL/scripts/novel_host_sequences.fasta
E_check_synenty/sco
E_check_synenty/genes
E_check_synenty/contigs
E_check_synenty/hmm_results
E_check_synenty/input_profiles
F_all_pR1SE_ORFs/diamond_db

