generate_protein_clusters/blast_results
generate_protein_clusters/blastp_proteins
generate_protein_clusters/log
generate_protein_clusters/scripts/out
generate_protein_clusters/15_hmmer_results
search_ASL/scripts/out
search_ASL/01_hmm_results
search_ASL/tal
known_hosts/scripts/known_hosts
torrens_coverage_test/
search_ASL/scripts/novel_host_sequences.fasta
