# number filtered, found with du --inodes xS | sort -n
A_generate_protein_clusters/90_curated_blastp_interpro/interpro_out/
G_annotate_complete_relatives/scripts/out/
C_search_ASL/01_hmm_results/
E_check_synteny/hmm_results/
Z_mini_tests/non_core_region_origin/all_halobacteria/data/

# size filtered
G_annotate_complete_relatives/diamond_blastp_nr_out/all_pR1SE_relatives_genes_vs_nr.out
G_annotate_complete_relatives/interpro_tmp/Frome_NODE_383_length_24936_cov_4.316346.fasta.faa/hpc-node3_20230626_111306593_2l7d/jobGene3d/000000000001_000000000023.raw.out
G_annotate_complete_relatives/interpro_tmp/Frome_NODE_383_length_24936_cov_4.316346.fasta.faa/hpc-node3_20230626_111306593_2l7d/jobPfam/000000000001_000000000023.raw.out
G_annotate_complete_relatives/interpro_tmp/Frome_NODE_383_length_24936_cov_4.316346.fasta.faa/hpc-node3_20230626_111306593_2l7d/jobFunFam/000000000001_000000000023.raw.out
G_annotate_complete_relatives/interpro_tmp/Frome_NODE_383_length_24936_cov_4.316346.fasta.faa/hpc-node3_20230626_111306593_2l7d/jobPanther/000000000001_000000000023.raw.out
G_annotate_complete_relatives/interpro_tmp/NC_015659.1.fasta.faa/hpc-node4_20230626_111306887_6pnj/jobGene3d/000000000001_000000000103.raw.out
G_annotate_complete_relatives/interpro_tmp/NC_015659.1.fasta.faa/hpc-node4_20230626_111306887_6pnj/jobFunFam/000000000001_000000000103.raw.out
G_annotate_complete_relatives/interpro_tmp/NC_015659.1.fasta.faa/hpc-node4_20230626_111306887_6pnj/jobPanther/000000000001_000000000103.raw.out
G_annotate_complete_relatives/interpro_tmp/NC_013748.1.fasta.faa/hpc-node4_20230626_111306891_b4km/jobGene3d/000000000001_000000000099.raw.out
G_annotate_complete_relatives/interpro_tmp/NC_013748.1.fasta.faa/hpc-node4_20230626_111306891_b4km/jobFunFam/000000000001_000000000099.raw.out
G_annotate_complete_relatives/interpro_tmp/NC_013748.1.fasta.faa/hpc-node4_20230626_111306891_b4km/jobPfam/000000000001_000000000099.raw.out
G_annotate_complete_relatives/interpro_tmp/NC_013748.1.fasta.faa/hpc-node4_20230626_111306891_b4km/jobPanther/000000000001_000000000099.raw.out
G_annotate_complete_relatives/interpro_tmp/KX687704.1.fasta.faa/hpc-node3_20230626_111306688_9vov/jobGene3d/000000000001_000000000047.raw.out
G_annotate_complete_relatives/interpro_tmp/KX687704.1.fasta.faa/hpc-node3_20230626_111306688_9vov/jobPanther/000000000001_000000000047.raw.out
G_annotate_complete_relatives/interpro_tmp/KX687704.1.fasta.faa/hpc-node3_20230626_111306688_9vov/jobFunFam/000000000001_000000000047.raw.out
G_annotate_complete_relatives/interpro_tmp/AOIR01000042.1.fasta.faa/hpc-node2_20230626_111205598_kyge/jobGene3d/000000000001_000000000106.raw.out
G_annotate_complete_relatives/interpro_tmp/AOIR01000042.1.fasta.faa/hpc-node2_20230626_111205598_kyge/jobPanther/000000000001_000000000106.raw.out
G_annotate_complete_relatives/interpro_tmp/AOIR01000042.1.fasta.faa/hpc-node2_20230626_111205598_kyge/jobFunFam/000000000001_000000000106.raw.out
G_annotate_complete_relatives/interpro_tmp/Gairdner_NODE_167_length_41210_cov_9.888325.fasta.faa/hpc-node3_20230626_111306849_bpn0/jobFunFam/000000000001_000000000050.raw.out
G_annotate_complete_relatives/interpro_tmp/Gairdner_NODE_167_length_41210_cov_9.888325.fasta.faa/hpc-node3_20230626_111306849_bpn0/jobPfam/000000000001_000000000050.raw.out
G_annotate_complete_relatives/interpro_tmp/Gairdner_NODE_167_length_41210_cov_9.888325.fasta.faa/hpc-node3_20230626_111306849_bpn0/jobPanther/000000000001_000000000050.raw.out
G_annotate_complete_relatives/interpro_tmp/Gairdner_NODE_167_length_41210_cov_9.888325.fasta.faa/hpc-node3_20230626_111306849_bpn0/jobGene3d/000000000001_000000000050.raw.out
G_annotate_complete_relatives/interpro_tmp/Gairdner_NODE_107_length_49922_cov_74.384603.fasta.faa/hpc-node3_20230626_111306521_4des/jobPanther/000000000001_000000000080.raw.out
G_annotate_complete_relatives/interpro_tmp/Gairdner_NODE_107_length_49922_cov_74.384603.fasta.faa/hpc-node3_20230626_111306521_4des/jobFunFam/000000000001_000000000080.raw.out
G_annotate_complete_relatives/interpro_tmp/Gairdner_NODE_107_length_49922_cov_74.384603.fasta.faa/hpc-node3_20230626_111306521_4des/jobPfam/000000000001_000000000080.raw.out
G_annotate_complete_relatives/interpro_tmp/Gairdner_NODE_107_length_49922_cov_74.384603.fasta.faa/hpc-node3_20230626_111306521_4des/jobGene3d/000000000001_000000000080.raw.out
G_annotate_complete_relatives/interpro_tmp/Eyresouth_NODE_101_length_48437_cov_7.17035.fasta.faa/hpc-node2_20230626_111308545_27im/jobFunFam/000000000001_000000000056.raw.out
G_annotate_complete_relatives/interpro_tmp/Eyresouth_NODE_101_length_48437_cov_7.17035.fasta.faa/hpc-node2_20230626_111308545_27im/jobGene3d/000000000001_000000000056.raw.out
G_annotate_complete_relatives/interpro_tmp/Eyresouth_NODE_101_length_48437_cov_7.17035.fasta.faa/hpc-node2_20230626_111308545_27im/jobPfam/000000000001_000000000056.raw.out
G_annotate_complete_relatives/interpro_tmp/Eyre_NODE_236_length_33155_cov_19.932.fasta.faa/hpc-node2_20230626_111308529_jk6g/jobPanther/000000000001_000000000044.raw.out
G_annotate_complete_relatives/interpro_tmp/Eyre_NODE_236_length_33155_cov_19.932.fasta.faa/hpc-node2_20230626_111308529_jk6g/jobPfam/000000000001_000000000044.raw.out
G_annotate_complete_relatives/interpro_tmp/Eyre_NODE_236_length_33155_cov_19.932.fasta.faa/hpc-node2_20230626_111308529_jk6g/jobFunFam/000000000001_000000000044.raw.out
G_annotate_complete_relatives/interpro_tmp/Eyre_NODE_236_length_33155_cov_19.932.fasta.faa/hpc-node2_20230626_111308529_jk6g/jobGene3d/000000000001_000000000044.raw.out
G_annotate_complete_relatives/scripts/interpro_out_full.tsv
G_annotate_complete_relatives/all_pR1SE_relatives_genes.faa
F_all_pR1SE_ORFs/diamond_db/all_genes.dmnd
F_all_pR1SE_ORFs/diamond_db/all_genes.faa
C_search_ASL/scripts/out/hmmer_76118.76129.out
C_search_ASL/scripts/out/hmmer_76118.76118.out
C_search_ASL/scripts/out/hmmer_76118.76124.out
C_search_ASL/scripts/out/hmmer_76118.76123.out
C_search_ASL/scripts/out/hmmer_76118.76122.out
C_search_ASL/scripts/out/hmmer_76118.76125.out
J_COG_categories_complete/blast_out_archaeal_proteins/blast_vs_COG.out
J_COG_categories_complete/archaeal_proteins/all_halo_proteins_combined.faa
Z_mini_tests/non_core_region_origin/blast_out/CP101161.1.fasta_vs_all_halos.out
Z_mini_tests/non_core_region_origin/all_halobacteria/combined_all_contigs.fasta
Z_mini_tests/non_core_region_origin/all_halobacteria/blast_db/combined_all_contigs.01.nsq
Z_mini_tests/non_core_region_origin/all_halobacteria/blast_db/combined_all_contigs.00.nsq
Z_mini_tests/non_core_region_origin/all_halobacteria/blast_db/combined_all_contigs.00.nhr
Z_mini_tests/search_refseq_viruses/viral.1.protein.faa.gz
Z_mini_tests/host_tree/gtdbtk_out/align/gtdbtk.ar53.msa.fasta.gz
Z_mini_tests/do_the_core_genes_occur_alone_in_nr/hmmsearch_out/ORF6.faa.msa.hmm_vs_nr.domtblout
Z_mini_tests/do_the_core_genes_occur_alone_in_nr/hmmsearch_out/manually_cleaned/ORF6.faa.msa.hmm_vs_nr.domtblout
Z_mini_tests/marker_region/diamond_db/combined_protein_files.dmnd
Z_mini_tests/marker_region/diamond_db/combined_protein_files.faa
Z_mini_tests/marker_region/all_relatives_10kb.fasta
Z_mini_tests/coverage_comparison/NC_013748.1/ref/index/1/chr1_index_k13_c8_b1.block
Z_mini_tests/coverage_comparison/NC_013748.1/SRR3924775.fastq.gz
Z_mini_tests/coverage_comparison/NC_015659.1/ref/index/1/chr1_index_k13_c8_b1.block
Z_mini_tests/coverage_comparison/NC_015659.1/SRR3927374.fasta
M_mutation_rates/pileup/Gairdner_NODE_107_sorted_mappedonly.bam.pileup
M_mutation_rates/reads/gairdner_R1_trimmed_renamed.fq.gz
M_mutation_rates/reads/eyre_R1_trimmed_renamed.fq.gz
M_mutation_rates/reads/eyresouth_R2_trimmed_renamed.fq.gz
M_mutation_rates/reads/frome_R2_trimmed_renamed.fq.gz
M_mutation_rates/reads/eyresouth_R1_trimmed_renamed.fq.gz
M_mutation_rates/reads/frome_R1_trimmed_renamed.fq.gz
M_mutation_rates/reads/gairdner_R2_trimmed_renamed.fq.gz
M_mutation_rates/reads/eyre_R2_trimmed_renamed.fq.gz
I_host_prediction/iphop_out/Frome_NODE_383_length_24936_cov_4.316346/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/Gairdner_NODE_167_length_41210_cov_9.888325/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/CP019286.1.fasta/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/Eyresouth_NODE_101_length_48437_cov_7.17035/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/CP099999.1.fasta/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/incomplete/Wdir/php_results/php_db_Prediction_Allhost.csv
I_host_prediction/iphop_out/incomplete/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/incomplete/Wdir/vhm_results/feature_values_s2star.csv
I_host_prediction/iphop_out/CP095494.1.fasta/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/CP019329.1.fasta/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/AOID01000019.1.fasta/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/AOIO01000049.1.fasta/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/CP100004.1.fasta/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/CP031299.1.fasta/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/AOJE01000051.1.fasta/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/CP084476.1.fasta/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/Gairdner_NODE_107_length_49922_cov_74.384603/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/AOJE01000025.1.fasta/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/Eyre_NODE_236_length_33155_cov_19.932/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/AOLZ01000012.1.fasta/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/BBJN01000020.1.fasta/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/AOIP01000022.1.fasta/Wdir/rafah_out/Full_CDSxClusters_Prediction
I_host_prediction/iphop_out/AOIR01000042.1.fasta/Wdir/rafah_out/Full_CDSxClusters_Prediction
A_generate_protein_clusters/scripts/out/generate_protein_cluster_iter3_76072.76078.out
A_generate_protein_clusters/scripts/out/generate_protein_cluster_iter2_76009.76015.out
A_generate_protein_clusters/00_determine_minscore/hmm_out/ORF6_blastp_proteins.faa.msa.hmm.nr.domtblout
.git/objects/73/cdeb5e68cd9e22ff8589b917319aa53f659701
.git/objects/pack/tmp_pack_HqjNMy
.git/objects/pack/tmp_pack_Mxo5uB
.git/objects/pack/tmp_pack_Kl0ztP
.git/objects/pack/tmp_pack_Nfemym
.git/objects/pack/tmp_pack_7hTfci
.git/objects/pack/tmp_pack_ETaK16
.git/objects/pack/tmp_pack_JhNzOZ
.git/objects/pack/pack-1d35454ac8d56101b40879e84d5e3672d42c884e.pack
.git/objects/b3/c579f42608f2f0efb89afe11756d27e07555c2
.git/objects/48/1c9f7440a9e1ddea0cac61063accee57f56a06
.git/objects/42/80cd098e05cc2a841d28c47d5dc95ed09285ed
.git/objects/3a/d11b6b7279d8b1d2674cbcfa2662ae12e175e7
